:root {
    --blue: #2d46b9;
    --white: #ffffff;
    --black: #000000;
    --green1: #1ed760;
    --green2: #1db954;
    --gray1: #c1c3c6;
    --gray2: #919496;
    --gray3: #616467;
    --hero-bg-color: #ffc362;
    --hero-terms-link: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

html {
    font-size: 62%;
}

body {
    font-family: "DM sans", sans-serif;
}