* {
    color: whitesmoke;
}

body {
    background: black;
}

.App {
    font-family: sans-serif;
    text-align: center;
    height: 90vh;
    width: 100vw;
}

.instruction {
    margin: 0 auto;
    width: 60vh;
    text-align: center;
}

ul {
    text-align: left;
}

.CardContainer {
    overflow: auto;
    height: 70vh;
    width: 500px;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    border: 1px solid blueviolet;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    width: 60%;
    margin: 10px auto;
    text-align: left;
    border-radius: 0 30px 0 30px;
    padding: 0 20px;
    box-shadow: 3px 3px 5px black;
}

.card h2 {
    border-bottom: 2px solid white;
    width: 90%;
}

.noItem {
    margin: 1em;
    font-size: 2em;
}

.card button {
    display: block;
    position: relative;
    float: right;
    background: rgb(247, 68, 36);
    padding: 10px;
    color: white;
    border: white;
    border-radius: 10px 0 10px 0;
}

.card button:hover {
    /* background: #C850C0; */
    color: black;
    cursor: pointer;
    box-shadow: inset 3px 2px #FFCC70;
}

.cardCount {
    background: black;
    color: red;
    padding: 10px;
    border-radius: 100px;
}

::-webkit-scrollbar {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: blueviolet;
    border-radius: 10px;
}