* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.btn {
    background: none;
    outline: none;
    border: none;
    font-size: 1.3em;
    background: lavender;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}