@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient( 76.3deg, rgba(44, 62, 78, 1) 12.6%, rgba(69, 103, 131, 1) 82.8%);
}

h1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 3rem;
    align-items: center;
    color: #ffffff;
}

button {
    background: none;
    border: none;
    background: rgb(38, 155, 149);
    outline: none;
    padding: 10px 20px;
    margin-right: 5px;
    color: rgb(235, 238, 240);
    font-size: 1.1em;
    transition: 0.3s;
}

button:nth-child(1) {
    background-color: rgb(20 156 0);
}

button:nth-child(2) {
    background-color: rgb(245 52 52);
}

button:nth-child(3) {
    background-color: royalblue;
}

button:hover {
    background: rgb(11, 40, 44);
    color: rgb(138, 167, 211);
    cursor: pointer;
}